<!-- jquery animation  -->
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/js/jqueryAnimation/main.js"></script>

<!-- Angular JS -->
<script src="/lib/ng-file-upload/angular-file-upload-shim.min.js"></script>
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/lib/ng-file-upload/angular-file-upload.min.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>

<!-- Application Init -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/directives.js"></script>
<script type="text/javascript" src="/js/filters.js"></script>

<!-- Application Services -->
<script type="text/javascript" src="/js/services/global.js"></script>
 <script type="text/javascript" src="/js/services/proizvodjaci.js"></script>
<script type="text/javascript" src="/js/services/proizvodi.js"></script>
<script type="text/javascript" src="/js/services/kategorije.js"></script>
<script type="text/javascript" src="/js/services/admini.js"></script>
<script type="text/javascript" src="/js/services/korisnici.js"></script>
<script type="text/javascript" src="/js/services/korpa.js"></script>
<script type="text/javascript" src="/js/services/narudzbe.js"></script>
<script type="text/javascript" src="/js/services/naruceniProizvodi.js"></script>

<!-- Application Controllers -->
<script type="text/javascript" src="/js/controllers/index.js"></script>
<script type="text/javascript" src="/js/controllers/header.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/controllers/admin/proizvod.js"></script>
<script type="text/javascript" src="/js/controllers/admin/proizvodjac.js"></script>
<script type="text/javascript" src="/js/controllers/admin/kategorija.js"></script>
<script type="text/javascript" src="/js/controllers/admin/admin.js"></script>
<script type="text/javascript" src="/js/controllers/admin/korisnik.js"></script>
<script type="text/javascript" src="/js/controllers/korisnik/index.js"></script>
<script type="text/javascript" src="/js/controllers/korisnik/kategorija.js"></script>
<script type="text/javascript" src="/js/controllers/korisnik/proizvod.js"></script>
<script type="text/javascript" src="/js/controllers/korisnik/korpa.js"></script>
<script type="text/javascript" src="/js/controllers/korisnik/narucivanje.js"></script>
<script type="text/javascript" src="/js/controllers/korisnik/narudzbe.js"></script>
<script type="text/javascript" src="/js/controllers/webShop.js"></script>



<!-- {% if (process.env.NODE_ENV == 'development') %}
    Livereload script rendered
    <script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %} -->
