<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{appName}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, swig">
    <meta name="description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">

    <link href="/img/icons/cart.ico" rel="shortcut icon" type="image/x-icon">

    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="{{appName}}">
    <meta property="og:description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="Web shop">
    <meta property="fb:admins" content="APP_ADMIN">

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-responsive.css"> -->
    <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/views/korisnik/registracija.css">
    <link rel="stylesheet" href="/css/views/korisnik/prijava.css">
    <link rel="stylesheet" href="/css/views/korisnik/korpa.css">
    <link rel="stylesheet" href="/css/views/korisnik/narucivanje.css">
    <link rel="stylesheet" href="/css/views/korisnik/narudzbe.css">


      <link rel="stylesheet" href="/css/views/admin/kategorije.css">
      <link rel="stylesheet" href="/css/views/admin/proizvodjaci.css">
      <link rel="stylesheet" href="/css/views/admin/proizvodi.css">
      <link rel="stylesheet" href="/css/views/admin/admini.css">
      <link rel="stylesheet" href="/css/views/admin/korisnici.css">

  
      <link rel="stylesheet" type="text/css" href="/font/font-awesome-4.1.0/css/font-awesome.css">


</head>
