<div class="data" data-ng-controller="KategorijeCtrl">
   <div class="admin-header">
         <ul  class="admin-nav-tabs">
                <li class=" admin_nav active-tab"  ng-click="ruta('/admin/kategorije')"><a ng-click="ruta('/admin/kategorije')" href="">Kategorije</a></li>
                <li class="admin_nav "  ng-click="ruta('/admin/proizvodjaci')"><a ng-click="ruta('/admin/proizvodjaci')"  href="">Proizvođači</a></li>
                <li class="admin_nav  "  ng-click="ruta('/admin/proizvodi')"><a  ng-click="ruta('/admin/proizvodi')"  href="">Proizvodi</a></li>
                <li class="admin_nav"  ng-click="ruta('/admin/korisnici')"><a  ng-click="ruta('/admin/korisnici')" href="">Korisnici</a></li>
               <li class="admin_nav "  ng-click="ruta('/admin/admini')"><a  ng-click="ruta('/admin/admini')" href="">Admini</a></li>
            </ul>

     </div>
    <div class="admin-body">
        <div class="admin-content">
                    <div class="form-kategorija" >
                     <div class="form-kategorija-header"><h3>Dodavanje kategorije</h3></div>
                       <div class="form-kategorija-body">
                           <form ng-submit="dodajKategoriju()">

                               <div class="form-kategorija-body-form-item">
                                   <div class="form-kategorija-body-form-item-top-placeholder">
                                       <span class="top-placeholder" id="top-placeholder1" >Naziv</span>
                                   </div>
                                   <input type="text" data-ng-model="naziv" ng-change="proveriNaziv(naziv)"  class="form-kategorija-body-form-item-input" id="korisnickoImeInput">
                                   <div class="form-kategorija-body-form-item-validation-message">
                                      <span>{{nazivPoruka}}</span>
                                   </div>
                               </div>

                               <div class="form-kategorija-body-form-item">
                                   <div class="form-kategorija-body-form-item-top-placeholder"><span>Velika fotografija</span></div>
                                   <input type="file" file-model="velikaFotografija"    accept="image/*"   class="form-kategorija-body-form-item-input-file">
                                   <div class="form-kategorija-body-form-item-validation-message">
                                       <span>{{velikaSlikaPoruka}}</span>
                                   </div>
                               </div>
                               <div class="form-kategorija-body-form-item">
                                   <div class="form-kategorija-body-form-item-top-placeholder"><span>Mala fotografija</span></div>
                                   <input type="file" file-model="malaFotografija"   accept="image/*"    class="form-kategorija-body-form-item-input-file">
                                   <div class="form-kategorija-body-form-item-validation-message">
                                       <span>{{malaSlikaPoruka}}</span>
                                   </div>
                               </div>
                               <div class="form-kategorija-body-form-item">
                                    <input type="submit" value="Dodati" class="form-kategorija-body-form-item-submit" id="bu"  >
                                </div>
                           </form>
                       </div>
                    </div>
                </div>

            </div>
</div>
