{% extends '../layouts/default.html' %}

{% block content %}
<div class="data">
  <!--  <div class="data-header">
        <h2 class="data-title">Prijava</h2>


     </div>  -->
     {% if message && message.length  %}
     <div class="fade in alert alert-error poruka">
         <button class="close" data-dismiss="alert">&times;</button>
         <div class="strong">
             {{ message }}
         </div>
     </div>
     {% endif %}

    <div class="data-body">

        <div class="form-login">
             <div class="form-login-header"><h3>Prijava administratora</h3></div>
             <div class="form-login-body">
                <form action="/admin/session" method="post">

                    <div class="form-login-body-form-item">
                        <div class="form-login-body-form-item-top-placeholder"><span class="top-placeholder" id="top-placeholder1" >Korisnicko ime</span></div>
                        <input type="text" placeholder="Korisnicko ime" name="korisnickoIme" class="form-login-body-form-item-input" id="korisnickoImeInput">
                        <div class="form-login-body-form-item-validation-message"><span></span></div>
                    </div>

                     <div class="form-login-body-form-item">
                        <div class="form-login-body-form-item-top-placeholder"><span>Lozinka</span></div>
                        <input type="password" placeholder="Lozinka" name="lozinka" class="form-login-body-form-item-input">
                        <div class="form-login-body-form-item-validation-message"><span></span></div>
                    </div>

                    <div class="form-login-body-form-item">
                        <input type="submit" value="Prijavite se" class="form-login-body-form-item-submit" id="bu">
                    </div>
                </form>
            </div>

        </div>


       </div>

</div>
{% endblock %}
